<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
  <property name="log.path" value="log/kernel-coordinator-service.error.log"/>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log.path}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>log/kernel-coordinator-service.error.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>10</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="org.apache.kafka.clients.admin.AdminClientConfig" level="OFF"/>
  <logger name="org.apache.kafka.common.metrics.Metrics" level="OFF"/>
  <logger name="org.apache.kafka.clients.FetchSessionHandler" level="OFF"/>
  <logger name="org.apache.kafka.clients.consumer.internals.Fetcher" level="OFF"/>
  <logger name="org.apache.kafka.clients.consumer.internals.AbstractCoordinator" level="OFF"/>
  <logger name="org.apache.kafka.clients.consumer.internals.ConsumerCoordinator" level="OFF"/>
  <logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="OFF"/>
  <logger name="org.apache.kafka.clients.consumer.KafkaConsumer" level="OFF"/>
  <logger name="org.apache.kafka.clients.producer.ProducerConfig" level="OFF"/>
  <logger name="org.apache.kafka.clients.Metadata" level="OFF"/>
  <logger name="org.apache.kafka.common.utils.AppInfoParser" level="OFF"/>
  <logger name="org.springframework.kafka.listener.KafkaMessageListenerContainer" level="OFF"/>
  <logger name="org.springframework.kafka.listener.KafkaMessageListenerContainer$ListenerConsumer" level="OFF"/>
  <!-- 数据源测试连接的日志不要了 -->
  <logger name="oracle.jdbc.driver.T4CConnection" level="OFF"/>
  <logger name="com.zaxxer.hikari.util.DriverDataSource" level="OFF"/>
  <logger name="com.zaxxer.hikari.pool.PoolBase" level="OFF"/>
  <logger name="com.zaxxer.hikari.pool.HikariPool" level="OFF"/>

  <root level="INFO">
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
  </root>
</configuration>
